<!DOCTYPE html>
<html>
  <head>
    <title>Help page</title>
    <meta charset="utf-8">
  </head>
  <body>
    {{> header}}
    <p>We are here to help you. Thanks for visiting us!</p>


    {{> footer}}
  </body>
</html>
